
@import url("https://fonts.googleapis.com/css?family=Rubik|Work+Sans");


.aboutContainer{
  text-align: left;
  display: flex;
  flex-direction: column;
}

.aboutProfileImage{
  height: 300px;
  width: 300px;
  align-self: center;
}

.topInfoBar {
  height: 100px;
  width: 100%;
  background-color: #28c9b9;
  opacity: 0.9;
}

.introductionText {
  margin: 5px;
  margin-left: 20px;
  color: white;
  text-align: left;
  font-size: 22px;
  max-height: 130px
}

@media (max-width:750px){
  .introductionText{
    font-size: 20px
  }
}
@media (max-width:450px){
  .introductionText{
    font-size: 18px
  }
}

.introductionContainer {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  border-width: 0px;
  border-left-width: 6px;
  border-color: white;
  border-style: solid;
}

.introductionTextBody {
  color: black;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
}
