
@import url("https://fonts.googleapis.com/css?family=Rubik|Work+Sans");


.aboutContainer{
  text-align: left;
  display: flex;
  margin-left: 300px;
  flex-direction: column;
}

.aboutHeader {
  font-size: 30px;
  margin: 40px;
  color: white;
}

.aboutProfileImage{
  height: 300px;
  width: 300px;
  align-self: center;
}

.topInfoBar {
  height: 200px;
  width: 100%;
  background-color: #28c9b9;
  opacity: 0.9;
}

.introductionText {
  margin: 5px;
  margin-left: 20px;
  color: white;
  text-align: left;
  font-size: 22px;
}

.introductionContainer {
  max-width: 900px;
  height: 80px;
  display: flex;
  flex-direction: column;
  margin: 15px;
  margin-left: 40px;
  border-width: 0px;
  border-left-width: 6px;
  border-color: white;
  border-style: solid;
}

.introductionTextBody {
  margin: 30px;
  color: black;
  font-size: 18px;
}
