.portfolioContainer{
  flex-direction: column;
}

.portfolioHeader {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  font-size: 30px;
  color: white;
}

.timelineItem {
  margin-top: 30px;
  margin-left: 15px;
  height: auto;
  flex-direction: column;
  display: flex;
  height: auto;
  text-align: left;
}

/* .timelineTextContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
} */


.timelineDate {
  font-size: 15px;
  margin-top: 10px;
}

.timelineLine {
  height: auto;
  width: 50px;
  border-right: 1px dotted grey;
}

.timelineCircle {
  margin-top: 10px;
  margin-left:35px;
  height: 30px;
  width: 30px;
  top: 0px;
}

.nodeTitle {
  font-size: 22px;
}

.nodeBody {
  margin-left: 15px;
  text-align: left;
  font-size: 16px;
  color: grey;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.timelineApp {
  color: grey;
  height: auto;
  flex-direction: row;
  display: flex;
  text-align: left;
}

@media (max-width:750px){
  .timelineApp{
    flex-direction: column;
  }
}

.timelineAppDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.timelineAppPhoto {
 max-height: 300px;
 max-width: 175px;
 margin-left: 10px;
 margin-right: 10px;
}

.timelineWebsitePhoto {
  max-height: 300px;
  max-width: 400px;
  border: solid 2px lightGrey;
  margin-left: 10px;
}

.timelineWebsiteDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 400px;
}

.timelineAppText {
  font-size: 16px;
  max-width: 600px;
}

.timelineli {
  text-align: left;
  color: Grey;
  font-size: 18px;
}
