.skillsContainer{
  /*width: 100%;*/
  text-align: left;
}

.skillsHeader {
  margin: 40px;
  font-size: 30px;
  color: white;
}

.skillsIntro {
  margin: 20px;
  font-size: 20px;
  color: grey;
}

.skillSetContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skillItem {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  /* height: 200px;
  width: 150px; */
  width: 10vw;
  height:11vw;
  min-width: 150px;
  min-height: 165px;
  background-color: #ededed;
  margin: 20px;
  border-radius: 20px;
}


.skillItem img {
  height: 60%;
  width: 75%;
}
